body{
    box-sizing: border-box;
    padding: 40px;
}

img{
    width: 50px;
}

#cart {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
}
.cart-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.cart-item img {
    width: 50px; /* Set the size of the image */
    height: auto;
    margin-right: 10px;
}